.user {
  background-color: white;
  padding: 60px;
  text-align: left;
  border-radius: 0 0 50px 50px;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.493);
  z-index: 30;
}
.user h1 {
  margin-top: 0;
  color: var(--primary-color);
}
.user p {
  color: var(--primary-color);
}
