.container {
  height: 100vh;
  width: 100vw;
  background-image: url(/images/trans.svg);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}
.loader {
  height: 20px;
  width: 20px;
}
.form {
  max-width: 400px;
  width: 400px;
  border-radius: 15px;
  margin-left: auto;
  align-self: center;
  margin-right: 5rem;
  background-color: var(--primary-color);
  box-shadow: 5px 5px 20px var(--primary-color);
  padding: 20px;
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
  text-align: center;
}
.form input {
  display: block;
  text-align: center;
  width: 80%;
}
.account {
  margin-top: 20px;
  color: white;
}
.account a {
  color: white;
}
@media screen and (max-width: 600px) {
  .form {
    margin-left: 10px;
    margin-right: 10px;
  }
}
